// HEADER STYLES

header {
    background: url('../assets/heroImageBlurred.jpg') center;
    background-size: cover;
    height: 55vh;
}

h1 {
    color: $primaryBlack;
    text-shadow: 2px 2px 5px white;
    
    // display: flex;
    // height: 55vh;
    // justify-content: center;
    // align-items: flex-end;
    
    // color: #fff;
    // text-shadow:
    //     0 0 7px #fff,
    //     0 0 10px #fff,
    //     0 0 21px #fff,
    //     0 0 42px #0fa,
    //     0 0 82px #0fa,
    //     0 0 92px #0fa,
    //     0 0 102px #0fa,
    //     0 0 151px #0fa;
    //https://image.tmdb.org/t/p/w300/AcfW3p5D6ov573fABLyGqwYdolD.jpg
}

// MAIN STYLES

.questions p,
h2 {
    margin: 50px 0;
}

select {
    background: $primaryGreen;
}

.output {
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 50%;
    padding: 10px 40px;
    margin: 30px 0;
    background-color: $primaryRed;
    color: $primaryWhite;
    border: none;
    transition: 0.2s ease-in-out;
}

button:hover {
    color: $primaryRed;
    background-color: $primaryGreen;
}

// FOOTER STYLES

footer {
    background-color: $primaryBlack;
        p {
            color: $primaryWhite;
            text-align: center;
                a {
                    color: $primaryWhite;
                }
        }
}

// MEDIA QUERIES

@media (max-width: 1200px) {
    h1 {
        @include fontSize(90);
        padding: 15px 0;
    }
}

@media (max-width: 780px) {
    h2 {
        @include fontSize(40);
    }
    p ,
    label {
        @include fontSize(25);
    }
    button {
        width: 75%;
        @include fontSize(30);
    }
}

@media (max-width: 375px) {
    .questions p,
    h2 {
        margin: 25px 0;
    }
    button {
        width: 100%;
        margin: 15px 0;
    }
}

// https://blog.prototypr.io/how-to-make-a-background-blur-in-css-with-one-line-of-code-e446c7236e60