body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 125%;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    @include fontSize(110);
}

h2 {
    @include fontSize(60);
    font-weight: 700;
}

p, 
label {
    @include fontSize(30);
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

button {
    font-family: 'Oxygen', sans-serif;
    @include fontSize(40);
    
}

footer p {
    @include fontSize(20);
}
