body {
    background-color: #f1f7f6;
    color: #2c2c2c;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 125%;
    color: $primaryBlack;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    @include fontSize(110);
    color: $primaryGreen;
}

h2, p.description {
    @include fontSize(72);
    font-weight: 700;
}

p {
    @include fontSize(50);
}

button {
    font-family: 'Oxygen', sans-serif;
    @include fontSize(40);
    background-color: $primaryRed;
    color: $primaryWhite;
}

footer {
    background-color: $primaryBlack;
}

footer p {
    color: $primaryWhite;
}


// header    [ bk hero: https://unsplash.com/photos/ErMkvcFla74 ]
//     h1 - That Actor from that Thing    [ font: Oxygen 400, 110px, #f1f7f6 ]

// main    [ bk color: #f1f7f6 ]
//     p.description - explaining the project    [ font: Lato 700, 72px, #2c2c2c ]
//     p - "they're from this ____ genre"    [ font: Lato 400, 50px, #2c2c2c ]
//     h2 - I think you're thinking of    [  font: Lato 700, 72px, #2c2c2c ]
//     button - shuffle    [ bk color of box: #ba4e4e // font: Oxygen 400, 40px, #f0f0f0 ]

// footer    [ bk color: #2c2c2c ]
//     p - Created at Juno College    [ font: Lato 400, 20px, #f0f0f0 ]