@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 125%;
}

h1 {
  font-family: "Oxygen", sans-serif;
  font-size: 110px;
  font-size: 5.5rem;
}

h2 {
  font-size: 60px;
  font-size: 3rem;
  font-weight: 700;
}

p,
label {
  font-size: 30px;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

button {
  font-family: "Oxygen", sans-serif;
  font-size: 40px;
  font-size: 2rem;
}

footer p {
  font-size: 20px;
  font-size: 1rem;
}

body {
  background: #c3f5ec;
  color: #2c2c2c;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  margin: 0;
}

.break {
  display: block;
}

.bodyVerticalHeader {
  background: url("../assets/heroHollywoodPurple.jpg");
  background-size: cover;
  height: 100vh;
  width: 40vw;
  overflow: hidden;
  position: fixed;
}

header {
  height: 100%;
  background: radial-gradient(white, rgba(255, 255, 255, 0.3));
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  margin-top: 3rem;
}

h1 {
  color: #831a34;
  text-shadow: 1px 1px 15px white;
  text-align: center;
  text-transform: uppercase;
}

.headerTitle p {
  color: #2c2c2c;
  text-shadow: 2px 2px 10px black;
  text-align: center;
}

.headerDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #2c2c2c;
  font-weight: 600;
  background: radial-gradient(white, rgba(255, 255, 255, 0.2));
}

.headerDetails a {
  text-decoration: none;
  color: #2c2c2c;
}

.bodyVerticalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bodyVerticalMain {
  margin-left: 40vw;
  height: 100vh;
  background: linear-gradient(15deg, #581258, #ee6a6a);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main {
  padding-top: 4rem;
  height: 100%;
  background: radial-gradient(white, rgba(255, 255, 255, 0.2));
}

.questions .wrapper {
  text-align: center;
}

h2 {
  margin: 20px 0;
}

select {
  background: #2c2c2c;
  color: #f0f0f0;
  text-align: center;
}

label {
  text-align: center;
}

.output {
  text-align: center;
  margin-top: 3rem;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shuffleButton {
  width: 50%;
  padding: 10px 40px;
  background-color: #ba4e4e;
  color: #f0f0f0;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.shuffleButton:hover {
  color: #ba4e4e;
  background-color: #f0f0f0;
}

.clearButton {
  width: 50%;
  padding: 10px 40px;
  margin: 20px 0;
  background-color: #f0f0f0;
  color: #ba4e4e;
  border: 3px solid #ba4e4e;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.clearButton:hover {
  color: #f0f0f0;
  background-color: #a1a1a1;
}

.suggestedActor p {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.suggestedActor p:first-child {
  font-weight: 800;
}

.break {
  display: block;
  padding: 0.5rem;
}

footer {
  position: fixed;
  width: 60vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2c2c;
}
footer p {
  color: #f0f0f0;
  text-align: center;
}
footer p a {
  color: #f0f0f0;
}

@media (max-width: 1380px) {
  h1 {
    font-size: 4.1rem;
  }
}
@media (max-width: 1120px) {
  .bodyVerticalContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 780px) {
  h2 {
    font-size: 40px;
    font-size: 2rem;
  }

  p,
label {
    font-size: 25px;
    font-size: 1.25rem;
  }

  button {
    width: 75%;
    font-size: 30px;
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  .questions p,
h2 {
    margin: 25px 0;
  }

  button {
    width: 100%;
    margin: 15px 0;
  }
}